.docker
*~
/.project
.env-backend-local-nad
.env-backend-local.save
.env-frontend-local-nad
docker-compose-local-nad.yaml
docker-compose-local-nad2.yaml
docker-compose-multiwhats.yaml
docker-compose-nad-new.yaml
docker-compose-nad-update.yaml.env-backend-local-multi
.env-frontend-local-multi
docker-compose-local-nad.yaml.save
